*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #333;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: auto;
}
